.link-heading {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.link-heading-1-anchor-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
}
.link-shop {
  position: relative;
  line-height: 24px;
}
.link-svg {
  height: 7px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent,
.link-shop-parent {
  display: flex;
  justify-content: flex-start;
}
.link-shop-parent {
  flex-direction: row;
  align-items: center;
  gap: 0 11px;
  font-size: var(--font-size-base);
}
.frame-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: 35px 0;
}
.search {
  width: 43.2px;
  border: 0;
  outline: 0;
  font-family: var(--font-nunito);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 19.2px;
  position: relative;
  color: #a0aec0;
  text-align: left;
  display: flex;
  align-items: center;
}
.input,
.input-wrapper {
  display: flex;
  justify-content: flex-start;
}
.input {
  align-self: stretch;
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--color-white);
  border-top: 0.8px solid var(--color-darkgray);
  border-bottom: 0.8px solid var(--color-darkgray);
  border-left: 0.8px solid var(--color-darkgray);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) 17px var(--padding-4xs);
}
.input-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.search1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-midnightblue);
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-5xs);
  background-color: var(--color-midnightblue);
  align-self: stretch;
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  border: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.button-wrapper {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xl) 0 0;
  box-sizing: border-box;
  margin-left: -1px;
}
.home,
.svg-icon {
  position: relative;
}
.home {
  line-height: 24px;
}
.svg-icon {
  height: 7px;
  width: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.home-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 11px;
}
.home-s-v-g-frame-a-c-inner {
  width: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  margin-left: -1px;
}
.account {
  position: relative;
  line-height: 24px;
}
.svg-icon1 {
  height: 7px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.account-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 12px;
}
.home-s-v-g-frame-a-c-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 31px 0 0;
  margin-left: -1px;
}
.divflex-icon {
  height: 60px;
  width: 24px;
  position: relative;
  margin-left: -1px;
}
.home-s-v-g-frame-a-c {
  width: 876px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.input-search-frame-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.link-brownies,
.link-cakes {
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
}
.link-gift,
.link-tea {
  white-space: nowrap;
}
.link-cookies,
.link-cupcakes,
.link-gift,
.link-tea {
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
}
.input-search-frame-button-parent,
.link-links {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.link-links {
  width: 720px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3px 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.input-search-frame-button-parent {
  width: 928px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 22px 0;
  font-size: var(--font-size-base);
}
.div11359807,
.div11359807-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.div11359807 {
  width: 1536px;
  background-color: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  align-items: flex-end;
  justify-content: center;
  padding: 0 var(--padding-xl) 18px;
  gap: 0 50px;
  max-width: 101%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
  font-family: var(--font-nunito);
}
.div11359807-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) var(--padding-7xl) 0;
  max-width: 100%;
}
.login-to-our {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
}
.input1 {
  height: 20.8px;
  width: 392.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.form,
.label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label {
  width: 93.3px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22.5px;
  overflow: hidden;
  justify-content: center;
  padding: 0 var(--padding-base) 0.5px;
  font-family: var(--font-nunito);
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-200);
  opacity: 0.75;
  z-index: 1;
}
.form {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  justify-content: flex-start;
  padding: var(--padding-sm) 0 var(--padding-xs);
  max-width: 100%;
}
.input2 {
  height: 20.8px;
  width: 392.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.label1 {
  width: 99.3px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base) 0.25px;
  box-sizing: border-box;
  font-family: var(--font-nunito);
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-200);
  opacity: 0.75;
  z-index: 1;
}
.form1,
.login-button {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.form1 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm) 0 var(--padding-xs);
}
.login-button {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
}
.login {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: center;
}
.form-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-4xs) var(--padding-3xs);
  background-color: var(--color-midnightblue);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover,
.form-button:hover {
  background-color: var(--color-darkslateblue);
}
.password-label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19px 0 0;
  box-sizing: border-box;
  gap: 24px 0;
  min-width: 290px;
  max-width: 100%;
}
.or {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-align: center;
}
.forgot-password-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 87px 0 0;
}
.use-social-media {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-align: left;
}
.svg-icon2 {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.continue-with-google {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-black);
  text-align: center;
}
.spancursor-pointer {
  cursor: pointer;
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-3xs);
  gap: 0 127px;
  white-space: nowrap;
}
.svg-icon3 {
  height: 23px;
  width: 23px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 23px;
}
.continue-with-facebook {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: center;
}
.account-label,
.spancursor-pointer1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.spancursor-pointer1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-4xs);
  background-color: #1878f2;
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  gap: 0 117px;
  white-space: nowrap;
}
.spancursor-pointer1:hover {
  background-color: #3091ff;
}
.account-label {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
}
.link-dont {
  position: relative;
  font-size: var(--font-size-sm);
  text-decoration: underline;
  line-height: 21px;
  font-family: var(--font-nunito);
  color: var(--color-midnightblue);
  text-align: right;
}
.about-us-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.email-label,
.login-to-store,
.policies-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-to-store {
  align-self: stretch;
  flex-direction: column;
  gap: 24px 0;
}
.email-label,
.policies-links {
  max-width: 100%;
}
.policies-links {
  width: 427px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.email-label {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 20px;
}
.link-forgot {
  position: relative;
  text-decoration: underline;
  line-height: 21px;
}
.divbg-white,
.form-frame,
.loginto-store-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form-frame {
  align-self: stretch;
  flex-direction: column;
  gap: 7px 0;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-midnightblue);
}
.divbg-white,
.loginto-store-frame {
  box-sizing: border-box;
}
.divbg-white {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  flex-direction: column;
  padding: var(--padding-5xl) 48px 40px 64px;
  gap: 56px 0;
}
.loginto-store-frame {
  width: 1054px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  text-align: left;
  font-size: 24px;
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.policies {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.link-cancellation,
.link-privacy,
.link-shipping,
.link-terms {
  position: relative;
  text-decoration: underline;
  line-height: 21px;
  z-index: 1;
}
.form-labels,
.or-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.or-text {
  gap: 16px 0;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.form-labels {
  gap: 24px 0;
}
.account1,
.link-track {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.link-track {
  font-size: var(--font-size-sm);
  text-decoration: underline;
  line-height: 21px;
  color: var(--color-darkslategray-100);
  white-space: nowrap;
}
.forgot-password-link1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 68px 0 0;
  gap: 24px 0;
}
.company {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.link-about,
.link-contact,
.link-faqs {
  position: relative;
  text-decoration: underline;
  line-height: 21px;
  z-index: 1;
}
.contact-us-link,
.phone-email-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-email-links {
  gap: 16px 0;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.contact-us-link {
  padding: 0 71px 0 0;
  gap: 24px 0;
}
.contact-us {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.phone24fe3f1csvg-icon {
  height: 21px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 21px;
  z-index: 1;
}
.link-9899640033 {
  position: relative;
  text-decoration: underline;
  line-height: 21px;
  z-index: 1;
}
.phone24fe3f1csvg-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
}
.footeremail0a326270svg-icon {
  height: 21px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 21px;
  z-index: 1;
}
.link-store4imojofood3gmail {
  position: relative;
  text-decoration: underline;
  line-height: 21px;
  white-space: nowrap;
  z-index: 1;
}
.footeremail0a326270svg-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 14px;
}
.locationb5eed89bsvg-icon {
  height: 17px;
  width: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.ahemdabadgujarat-380015 {
  position: relative;
  text-decoration: underline;
  line-height: 21px;
  z-index: 1;
}
.locationb5eed89bsvg-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 13px;
}
.footer-links,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  gap: 16px 0;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.footer-links {
  gap: 24px 0;
}
.login-to-store1,
.page-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.login-to-store1 {
  width: 992px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.page-footer {
  width: 1040px;
  justify-content: flex-start;
}
.link-anchor {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 500;
  font-family: inherit;
}
.link-finstagram5e68199csvg,
.link-fpinteresta8de1786svg,
.link-fyoutubea3a9ac2fsvg,
.link-sfacebookcbc17f55svg,
.link-stwittera271cddcsvg {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.instagram-link {
  margin-bottom: -1px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  gap: var(--gap-xl);
}
.twitter-link {
  height: 29px;
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.store24x7-anchorcom {
  flex: 1;
  display: inline-block;
  min-width: 122px;
}
.empty-rectangle,
.store24x7-anchorcom {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.spanh-4 {
  height: 4px;
  width: 4px;
  position: relative;
  border-radius: 9999px;
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.copyright-notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 3px;
}
.all-rights-reserved {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.anchor-link,
.divflex {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.anchor-link {
  width: 413px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 2px;
  min-height: 19px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.divflex {
  width: 1048px;
  border-top: 0.8px solid #d8d8d8;
  align-items: flex-end;
  justify-content: space-between;
  padding: 21px 0 0;
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--font-size-xl);
}
.divpage-footer {
  flex: 1;
  background-color: #f1f1f6;
  flex-direction: column;
  align-items: center;
  padding: 45px var(--padding-5xl) 35px var(--padding-xl);
  gap: 32px 0;
  max-width: 100%;
}
.desktop-4,
.divpage-footer,
.login-form {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.login-form {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-nunito);
}
.desktop-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 127px;
  gap: 70px 0;
  letter-spacing: normal;
}